body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	overflow: hidden;
	/*cursor: none;*/
}





#cursor{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	transition: 0.1s;
	transform: translate(-50%,-50%);
	pointer-events: none;
	/*mix-blend-mode: difference;*/
	border: 2px solid black;
	box-sizing: border-box;
}
h2:hover~#cursor{
	width: 100px;
	height: 100px;

}
